.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto minmax(32rem, 135.2rem) auto;
  &-info {
      grid-template-columns: 1fr minmax(32rem, 112.4rem) 1fr;
      margin: 10rem 0 12rem 0;
  }
  &-grid {
    background: $color-gridBg;
  }
}
.content__text {
  line-height: 1.7;
}