$font-raleway: 'Raleway', sans-serif;
$font-openSans: 'Open Sans', sans-serif;

$color-main: #08a6e4;
$color-black: #000000;
$color-white: #ffffff;
$color-inactiveNav: #a5a5a5;
$color-headerShadow: #00000029;