$font-raleway: 'Raleway', sans-serif;
$font-openSans: 'Open Sans', sans-serif;

$color-main: #08a6e4;
$color-black: #000000;
$color-white: #ffffff;
$color-inactiveNav: #a5a5a5;
$color-headerShadow: #00000029;
$color-circleFirst: #FB3B64;
$color-circleSecond: #08A6E4;
$color-circleThird: #55DFB4;
$color-border: #e8e9ed;
$color-gridBg: #f7f7f7;
$color-inputBorder: #95989A;
$color-consent: #707070;