.grid {
  grid-column: 2/3;
  padding: 4.2rem 0.8rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(31rem, 112.4rem);
  grid-template-rows: repeat(2, 37rem);
  grid-row-gap: 4.1rem;
}
[class*='row-'] {
  background: $color-white;
  border: 0.1rem solid $color-border;
  border-radius: 0.5rem;
}

.row-one {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(10.96rem, 1fr) 1fr;
  .content {
    padding: 3.1rem 2rem;
    grid-column: 1/-1;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    &__title {
      font-family: $font-raleway;
      font-weight: 300;
      font-size: 3rem;
      margin-bottom: 5.1rem;
    }
    &__text {
      font-size: 1.4rem;
      font-family: $font-openSans;
      color: $color-black;
    }
    &__img {
      margin-top: 3.7rem;
      grid-row: 1/2;
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: minmax(0, 10.93rem);
      .img {
        height: 100%;
        grid-column: 1/-1;
        grid-row: 1/2;
        z-index: 2;
      }
      .decor {
        grid-column: 2/3;
        grid-row: 1/2;
        height: 10rem;
        width: 10rem;
        justify-self: center;
        align-self: top;
        position: relative;
        top: -25%;
        background: $color-circleFirst;
        transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
        border-radius: 4.1rem;
        z-index: 1;
      }
    }
  }
}

.row-two {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(13.49rem, 1fr);
  .content {
    padding: 2.1rem 2rem;
    grid-column: 1/-1;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    &__title {
      font-family: $font-raleway;
      font-weight: 300;
      font-size: 3rem;
      margin-bottom: 3.1rem;
    }
    &__text {
      font-size: 1.4rem;
      font-family: $font-openSans;
      color: $color-black;
    }
    &__img {
      padding-top: 2.4rem;
      grid-row: 1/2;
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: minmax(0, 13.49rem);
      .img {
        height: 100%;
        grid-column: 1/-1;
        grid-row: 1/2;
        z-index: 2;
      }
      .decor {
        grid-column: 1/-1;
        grid-row: 1/2;
        height: 18rem;
        width: 18rem;
        position: relative;
        top: 52%;
        right: -50%;
        transform: translate(-50%, 50%);
        background: $color-circleSecond;
        border-radius: 50%;
        z-index: 1;
      }
    }
  }
}
.row-three {
  display: grid;
  grid-template-columns: minmax(31.4rem, 1fr);
  grid-template-rows: minmax(0, 1fr) minmax(0,19.5rem);
  .content {
    padding: 4rem 2rem;
    grid-row: 1/2;
    &__title {
      font-family: $font-raleway;
      font-weight: 300;
      font-size: 3rem;
      margin-bottom: 3.1rem;
    }
    &__text {
      font-size: 1.4rem;
      font-family: $font-openSans;
      color: $color-black;
    }
    &__img {
      height: 100%;
      background: $color-circleThird;
      display: flex;
      justify-content: center;
      .img {
        margin-top: 5rem;
      }
    }
  }
}
.img {
  width: 100%;
  object-fit: contain;
  display: block;
}

// DESKTOP

@media(min-width: 715px) and (max-width: 1920px) {
  .row-one,
  .row-two,
  .row-three {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 37rem;
    align-items: center;
  }
  .row-one,
  .row-two,
  .row-three {
    .content {
      padding: 9.1rem 0 0 3.6rem;
      height: 100%;
      grid-column: 1/2;
      grid-row: 1/2;
      &__img {
        margin: 0;
        height: 100%;
        grid-column: 2/3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        .img {
          grid-row: 1/4;
          grid-column: 1/-1;
          height: 100%;
        }
        .decor {
          grid-row: 1/2;
          grid-column: 2/3;
        }
      }
    }
  }
  .row-one {
    grid-template-columns: minmax(31.7rem, 41.56rem) minmax(0,16.9rem) minmax(31.7rem, 44rem) minmax(0,8.3rem);
    .content {
      &__text {
        padding-bottom: 5rem;
        border-bottom: .4rem solid $color-circleFirst;
      }
      &__img {
        grid-column: 3/4;
        .decor {
          top: 20%;
          left: 11.5%;
          height: 18rem;
          width: 18rem;
        }
      }
    }
  }
  .row-two {
    height: 100%;
    grid-template-columns: minmax(0, 7rem) minmax(31.7rem, 42.6rem) minmax(0, 14.2rem) minmax(31.7rem, 41.6rem) minmax(0, 7rem);
    .content {
      grid-column: 4/5;
      &__text {
        padding-bottom: 5rem;
        border-bottom: .4px solid $color-circleSecond;
      }
      &__img {
        grid-column: 2/3;
        padding: 0;
        .decor {
          top: 55%;
          left: 25%;
          transform: translate(-50%,-50%);
          height: 32rem;
          width: 32rem;
        }
      }
    }
  }
  .row-three {
    height: 100%;
    background: transparent;
    border: none;
    grid-template-columns: minmax(38rem, 62.3rem) minmax(0, 6.3rem) minmax(22.7rem, 44rem);
    .content {
      grid-column: 1/2;
      grid-row: 1/2;
      border: 1px solid $color-border;
      background: $color-white;
      margin-bottom: 0;
      &__text {
        max-width: 34.8rem;
        padding-bottom: 5rem;
        position: relative;
        &::after {
          content: '';
          height: .4rem;
          width: 34.8rem;
          display: block;
          bottom: 0;
          left: 0;
          position: absolute;
          background: $color-circleThird;
        }
      }
      &__img {
        grid-column: 3/4;
        border: .1rem solid $color-border;
        .img {
          margin: 0;
          padding-top: 5rem;
        }
      }
    }
  }
}
@media(max-width: 870px) {
  .row-one {
    .content {
      &__img {
        .decor {
          left: -22%;
      }
      }
    }
  }
  .row-two {
    .content {
      &__img {
        .decor {
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}