.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    margin: 5rem 0 2rem 0;
    font-size: 4.9rem;
    font-family: $font-raleway;
    font-weight: 300;
  }
  &__sub {
    width: 70%;
    font-size: 1.6rem;
    font-family: $font-openSans;
    margin-bottom: 3.8rem;
    text-align: center;
  }
  img {
    display: block;
    width: 100%;
  }
}