.info {
  grid-column: 2/3;
  text-align: center;
  &__title {
    font-size: 3.6rem;
    font-family: $font-raleway;
    font-weight: 300;
    margin-bottom: 10.1rem;
  }
}
.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: 980px) {
    grid-template-columns: 1fr;
    gap: 3.4rem;
  }
}
.card {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  &:nth-child(1) > :first-child {
    background-color: $color-circleFirst;
    &::before {
      background: url('../../assets/person.svg') no-repeat;
    }
  }
  &:nth-child(2) > :first-child {
    background-color: $color-circleSecond;
    &::before {
      background: url('../../assets/eye.svg') no-repeat;
      top: 20%;
    }
  }
  &:nth-child(3) > :first-child {
    background-color: $color-circleThird;
    &::before {
      background: url('../../assets/catalog.svg') no-repeat;
    }
  }
  &__img {
    justify-self: center;
    height: 6.3rem;
    width: 6.3rem;
    border-radius: 50%;
    position: relative;
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      z-index: 2;
      position: absolute;
      top: 10%;
      right: -50%;
    }
  }
  &__title {
    font-size: 2rem;
    font-family: $font-raleway;
    font-weight: 800;
    letter-spacing: 0.596rem;
    margin: 1.4rem 0 1.9rem 0;
  }
  &__sub {
    font-family: $font-raleway;
    font-size: 1.6rem;
    justify-self: center;
    color: $color-inactiveNav;
  }
}
