.info {
  grid-column: 2/3;
  text-align: center;
  &__title {
    font-size: 3.6rem;
    font-family: $font-raleway;
    font-weight: 300;
    margin-bottom: 10.1rem;
  }
}
.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: 980px) {
    grid-template-columns: 1fr;
    gap: 3.4rem;
  }

}
.card {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  &:nth-child(1) {
    .card__img {
      background: $color-circleFirst;
    }
  }
  &:nth-child(2) {
    .card__img {
      background: $color-circleSecond;
      img {
        top: 20%;
      }
    }
  }
  &:nth-child(3) {
    .card__img {
      background: $color-circleThird;
    }
  }
  &__img {
    justify-self: center;
    display: flex;
    height: 6.3rem;
    width: 6.3rem;
    border-radius: 50%;
    position: relative;
    img {
      position: absolute;
      right: -35%;
      top: 10%;
    }
  }
  &__title {
    font-size: 2rem;
    font-family: $font-raleway;
    font-weight: 800;
    letter-spacing: 0.596rem;
    margin: 1.4rem 0 1.9rem 0;
  }
  &__sub {
    font-family: $font-raleway;
    font-size: 1.6rem;
    justify-self: center;
    color: $color-inactiveNav;
  }
}
