.header {
  box-shadow: 0px 0.3rem 0.6rem $color-headerShadow;
}
.nav {
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-between;
  &__list {
    display: flex;
    list-style: none;
    align-items: center;
    @media (max-width: 949px) {
      display: none;
    }
  }
  &__item {
    height: 100%;
    display: flex;
    &:last-child {
      margin-right: 2.5rem;
    }
    &:not(:last-child) {
      margin-right: 9.5rem;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    color: $color-inactiveNav;
    font-size: 1.1rem;
    font-family: $font-openSans;
    font-weight: 700;
    letter-spacing: 0.328rem;
    text-transform: uppercase;
    border-bottom: 0.4rem solid transparent;
    transition: border 0.2s ease;
    &:hover {
      border-bottom: 0.4rem solid $color-main;
      color: $color-black;
      cursor: pointer;
    }
    &--focused {
      color: $color-black;
    }
  }
  &__toggle {
    align-self: center;
    color: $color-main;
    font-size: 3.2rem;
    font-weight: 300;
    cursor: pointer;
    margin-right: 2.5rem;
    border: none;
    background: none;
    @media (min-width: 950px) {
      display: none;
    }
  }
}
.logo {
  grid-column: 2 / 3;
  padding: 1.7rem 0 1.6rem 2.5rem;
  font-family: $font-raleway;
  font-size: 3.2rem;
  font-weight: 300;
  color: $color-main;
}

.nav.active {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
}
.nav.active .logo {
  grid-row: 1/2;
  grid-column: 1/2;
  justify-self: start;
}
.nav.active .nav__toggle {
  grid-row: 1/2;
  grid-column: 1/2;
  justify-self: end;
}
.nav.active .nav__list {
  grid-row: 2/3;
  grid-column: 1/2;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav.active .nav__item {
  justify-content: center;
  width: 100%;
  margin: 0;
}
.nav.active .nav__link {
  padding: 1.5rem 0;
}

.nav.active .show-btn {
  display: block;
}
.nav.active .hide-btn {
  @media (min-width: 950) {
    .show-btn {
      display: none;
    }
  }
}
